    <h1>Graders Accounts Receivables Administration Panel</h1>
    <ul>
      <li><%= link_to 'Graders', graders_path %></li>
      <li><%= link_to "Courses", courses_path %></li>
      <li><%= link_to "Coursework", courseworks_path %></li>
      <li><%= link_to "Students", students_path %></li>
      <li><%= link_to "Listings", listings_path %></li>
    </ul>

